@import 'color';
@import 'font';
@import 'responsive';

html {
    scroll-behavior: smooth;
}

.nav-top {
    width: 100%;
    height: 55px;
    background-color: $colorNavbar;
    display: flex;
    justify-content: center;
    align-items: center;

    .nav-top-area {
        width: 93%;
        height: 30px;
        display: flex;

        .nav-left {
            width: 34%;
            height: 30px;
            display: flex;
            justify-content: flex-start;
            align-items: center;


            .icon-1 {
                margin-right: 15px;
                color: #343A40;

                &:hover {
                    color: $colorGold;
                }
            }

            .icon-2 {
                margin-right: 20px;
                color: #343A40;

                &:hover {
                    color: $colorGold;
                }
            }

            .icon-3 {
                padding-right: 5px;
            }

            p {
                display: inline;
                margin-top: 2px;
                margin-bottom: 3px;
                font-family: $font-family;
                font-weight: 300;
            }


        }

        .nav-average {
            width: 33%;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                display: inline;
                margin: 0;
                padding-bottom: 2px;
                font-family: $font-family;
                font-weight: 300;

            }
        }

        .nav-right {
            width: 34%;
            height: 30px;
            display: flex;
            justify-content: flex-end;
            align-items: center;


            .btn-style {
                background-color: $colorNavbar;
                border: 0;
                color: #343A40;
                text-decoration: none;
                margin-right: 10px;
            }
        }
    }
}

.nav-bottom-part {
    width: 100%;
    height: 520px;
    background-image: url(../image/Blog/blog-2.jpg);
    background-position: center center;
    background-attachment: fixed;
}

.parallax-window {
    width: 100%;
    min-height: 520px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    .location-part {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 90px;
        padding-top: 70px;

        >ol li a {
            color: $colorGold;
            text-decoration: none;
            font-size: 15px;
            font-weight: 600;
        }

        >ol li {
            color: $colorGrey;
            text-decoration: none;
            font-size: 15px;
            font-weight: 600;
        }
    }

    .hero-content {
        text-align: center;
        margin-top: 20px;

        .hero-heading {
            font-family: $font-family;
            font-weight: 900;
        }

        p {
            font-family: $font-family;
            font-weight: 400;
        }
    }
}

.card-photo {
   
    width: 100%;

    
   

    img {
      
        width: 100%;
      
        
    }
}
.hover_bottom{
   text-decoration: none;
   font-family:$font-family;
   font-weight: 700;

   :after {
    position: absolute;
    left: 10px;
    content: '';
    height: 40px;
    width: 275px;
    border-bottom: solid 3px #019fb6;
    transition: left 250ms ease-in-out, right 250ms ease-in-out;
    opacity: 0;
  }

    &:hover{
        opacity: 1;
    }
}

.hover_a-bottom{
    text-decoration: none;
   font-family:$font-family;
   font-weight: 700;
   color: $colorGold;

   :after {
    position: absolute;
    left: 10px;
    content: '';
    height: 40px;
    width: 275px;
    border-bottom: solid 3px #019fb6;
    transition: left 250ms ease-in-out, right 250ms ease-in-out;
    opacity: 0;
    color: $colorGold;
  }

    &:hover{
        opacity: 1;
        color: $colorGold;
    }
}

.customer-service {
    width: 100%;
    background-color: $colorBackGround;

    .service-customer {

        display: flex;

        .text-part {

            width: 250px;
            margin-left: 10px;

            h6 {
                font-family: $font-family;
                font-weight: 800;
            }

            p {
                color: $colorGrey;
            }
        }
    }
}

.form-part {
    display: none;
}