@media only screen and (max-width: 320px) {
  .nav-top {
    height: 40px !important; }
    .nav-top .nav-top-area {
      width: 100%; }
      .nav-top .nav-top-area .nav-left {
        width: 60% !important; }
        .nav-top .nav-top-area .nav-left p {
          font-size: 10px !important; }
      .nav-top .nav-top-area .nav-average {
        width: 40% !important;
        font-size: 10px; }
      .nav-top .nav-top-area .nav-right {
        display: none !important; } }

@media only screen and (max-width: 767px) {
  .nav-top {
    height: 40px !important; }
    .nav-top .nav-top-area {
      width: 100% !important; }
      .nav-top .nav-top-area .nav-left {
        width: 60% !important; }
        .nav-top .nav-top-area .nav-left p {
          font-size: 10px !important; }
      .nav-top .nav-top-area .nav-average {
        width: 40% !important;
        font-size: 10px; }
      .nav-top .nav-top-area .nav-right {
        display: none !important; } }

html {
  scroll-behavior: smooth; }

.nav-top {
  width: 100%;
  height: 55px;
  background-color: #E9ECEF;
  display: flex;
  justify-content: center;
  align-items: center; }
  .nav-top .nav-top-area {
    width: 93%;
    height: 30px;
    display: flex; }
    .nav-top .nav-top-area .nav-left {
      width: 34%;
      height: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .nav-top .nav-top-area .nav-left .icon-1 {
        margin-right: 15px;
        color: #343A40; }
        .nav-top .nav-top-area .nav-left .icon-1:hover {
          color: #BCAC76; }
      .nav-top .nav-top-area .nav-left .icon-2 {
        margin-right: 20px;
        color: #343A40; }
        .nav-top .nav-top-area .nav-left .icon-2:hover {
          color: #BCAC76; }
      .nav-top .nav-top-area .nav-left .icon-3 {
        padding-right: 5px; }
      .nav-top .nav-top-area .nav-left p {
        display: inline;
        margin-top: 2px;
        margin-bottom: 3px;
        font-family: "Roboto", sans-serif;
        font-weight: 300; }
    .nav-top .nav-top-area .nav-average {
      width: 33%;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .nav-top .nav-top-area .nav-average p {
        display: inline;
        margin: 0;
        padding-bottom: 2px;
        font-family: "Roboto", sans-serif;
        font-weight: 300; }
    .nav-top .nav-top-area .nav-right {
      width: 34%;
      height: 30px;
      display: flex;
      justify-content: flex-end;
      align-items: center; }
      .nav-top .nav-top-area .nav-right .btn-style {
        background-color: #E9ECEF;
        border: 0;
        color: #343A40;
        text-decoration: none;
        margin-right: 10px; }

.slider-part {
  height: 600px; }

.image-part {
  margin-right: 50px;
  width: 30%;
  height: 550px;
  padding-top: 130px; }

.product-title h2 {
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 800; }

.product-title p {
  color: #868E96;
  font-weight: 400;
  font-size: 23px; }

.hover-border-bottom {
  text-decoration: none; }

.card-image-info > .img {
  width: 90%;
  height: 350px;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 300ms all linear; }
  .card-image-info > .img .img-1 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; }
  .card-image-info > .img .img-2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 0;
    transition: 300ms all linear; }
  .card-image-info > .img:hover .img-2 {
    opacity: 1; }
  .card-image-info > .img .img-bottom {
    position: absolute;
    width: 100%;
    height: 0px;
    background-color: white;
    transition: 300ms all linear; }
    .card-image-info > .img .img-bottom p {
      opacity: 0;
      margin-bottom: 0;
      margin-left: 5px;
      padding-right: 140px; }
    .card-image-info > .img .img-bottom i {
      margin-right: 5px;
      opacity: 0; }

.card-image-info:hover .img-bottom {
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .card-image-info:hover .img-bottom p {
    opacity: 1; }
  .card-image-info:hover .img-bottom i {
    opacity: 1; }

.card-image-info:hover .image-info-2 > i {
  opacity: 1 !important;
  display: flex;
  transform: translateY(-20px);
  transition: 300ms all  linear; }

.image-info {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 15px; }
  .image-info h5 {
    font-family: "Roboto", sans-serif;
    font-size: 20px; }
  .image-info .image-info-2 {
    width: auto;
    height: 60px;
    display: flex;
    align-items: flex-end; }
    .image-info .image-info-2 i {
      opacity: 0; }
